# This is a basic workflow to help you get started with Actions

name: linux-x64-cpu-clang

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  linux-clang:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: update
        run: sudo apt-get update
        
      - name: build-essential
        run: sudo apt-get install cmake libeigen3-dev
                
      - name: protobuf
        run: sudo apt-get install libopencv-dev
      
      - name: build
        env:
          CC: clang
          CXX: clang++
        run: |
          mkdir build && cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release
          cmake --build . -j 4
